* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}


:root {
    --body-color: #0f6ecd;
    --container-background: #FFFFE0;
    --task-color: #27a6af9a;
    --task-hover-color: #36369a73;
    --btn-hover-color: rgb(137, 177, 164);
    --leftpane-background-color: #eeffe0;
    --addlist-btn-color: #ebc9a1;
    --list-hover-color: #2A2B32;
}

html,
body {
    background-color: var(--body-color);
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .right>img {
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.right img:last-child {
    margin: auto
} */

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* .left,
.right {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
} */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-background);
    width: 60%;
    height: 90%;
    margin-top: 50px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 2px -2px rgb(70, 63, 63);
}



.tasks {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.tasks li {
    display: flex;
    /* flex-direction: column; */
    padding: 1rem;
    width: 90%;
    height: auto;
    margin-top: 5px;
    align-self: center;
    background-color: var(--task-color);
    border-radius: 5px;
}

.tasks li:is(:hover) {
    background-color: var(--task-hover-color);
}

.tasks:nth-child(1) {
    margin-top: 5px;
}

.tasks li:last-child {
    margin-bottom: 10px;
}


.tasks li span {
    width: 90%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    white-space: break-spaces;
    word-wrap: break-word;
    overflow: hidden;
}

.options>button,
.options>img {
    background: transparent;
    border: none;
    outline: none;
    vertical-align: bottom;
}

.options>button:hover {
    background-color: var(--btn-hover-color);
}

.taskedit {
    border: none;
    outline: none;
    border-radius: 5px;
    height: inherit;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: transparent;
    resize: none;
    max-height: 300px;
}

.editoptions {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.tasksubmit {
    background-color: rgb(195, 135, 15);
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0.3px 0.3px 3px rgb(27, 21, 29);
}

.tasksubmit:is(:hover) {
    background-color: rgba(195, 135, 15, 0.566);
}


.tasksubmit:disabled {
    background-color: gray;
}

.cancelsubmit {
    margin-left: 10px;
    background-color: rgb(231, 231, 230);
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0.3px 0.3px 3px rgb(27, 21, 29);
}

.cancelsubmit:is(:hover) {
    background-color: rgb(215, 211, 211);
}

.addwraper {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 7px;
    border-top: 2px solid rgb(22, 91, 69);
}

.add_new_task {
    display: flex;
    background-color: #B0C4DE;
    margin: auto;
    width: 90%;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px 0px rgb(51, 55, 81);
}

#task_text {
    /* overflow: hidden; */
    border: none;
    resize: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 400;
    caret-color: rgba(16, 54, 182, 0.611);
    width: 100%;
    margin-right: 60px;
    min-height: 16px;
    max-height: 300px;
}

#task_text::placeholder {
    color: #5c626b;
}

#task_text:focus {
    outline: none;
    /* border-bottom: 1.5px solid saddlebrown; */
}

#add_task {
    border: none;
    background: transparent;
    box-shadow: 0 0 0.5px 0 rgba(47, 43, 69, 0.271);
}

#add_task:hover {
    box-shadow: 0 0 1px 0 rgb(90, 73, 85);
    background-color: #7f95b7;
    padding: 1px;
}



.leftpane {
    display: flex;
    flex-direction: column;
    background-color: var(--leftpane-background-color);
    width: 20%;
    height: 90%;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: -4px -3px 2px -2px rgb(70, 63, 63);
    border-radius: 10px 0 0 10px;
}

.lists {
    /* List container inside leftpane */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
}

.lists li {
    /* List inside lists */
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    list-style: none;
    border-radius: 8px;
    padding: 20px;
    margin-top: 2px;
}

.lists li a span {
    color: rgb(255, 2, 2);
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.lists li::before {
    content: url(/assets/svg_list.svg);
    vertical-align: middle;
    padding-right: 10px;
}

.lists li div {
    position: absolute;
    right: 30px;
}

.lists li div>button,
button>img {
    background: transparent;
    border: none;
    outline: none;
    vertical-align: bottom;
}

.lists li div>button:hover {
    background-color: var(--btn-hover-color);
}

.lists li:hover {
    background-color: var(--list-hover-color);
}

.lists:nth-child(1) {
    margin-top: 5px;
}


.bottom-leftpane {
    /* Bottom container inside leftpane */
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 10%;
    padding-top: 4px;
    background-color: inherit;
    box-shadow: none;
    border-top: 2px solid rgb(22, 91, 69);

}

.addlist {
    margin: auto;
    border: none;
    outline: none;
    z-index: 2;
    width: 80%;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--addlist-btn-color);
    box-shadow: inset 0 0 5px 0 rgb(17, 13, 13);
    transition: transform 0.2s ease-out;
}

.addlist:is(:hover) {
    transform: scale(1.05);
    box-shadow: 0 0 5px 2px rgba(99, 30, 95, 0.611);
}

.addlist span {
    font-size: 18px;
}

.addlist img {
    vertical-align: baseline;
}


.addlist::placeholder {
    color: #000000c4;
    font-size: 16px;
}

#input_list {
    caret-color: #7f95b7;
}

.list_tasksubmit img {
    width: 20px;
    height: 20px;
}

.list_cancelsubmit img {
    width: 20px;
    height: 20px;
}

.list_textbox {
    background: transparent;
    border: solid #7f95b7;
    caret-color: rgb(14, 168, 220);
    outline: none;
    color: rgb(255, 0, 0);
}