* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,
body {
    background-color: #FF7F50;
    height: 100%;
    overflow: hidden;
}


.flower {
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrapper {
    display: flex;
    height: 100%;
}

.left,
.right {
    display: flex;
    width: 250px;
    height: 100%;
    background: transparent;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #FFFFE0;
    width: 55%;
    height: 90%;
    margin-top: 50px;
    justify-content: center;
}

.leftpane {
    display: flex;
    background-color: #ffe0e0;
    width: 17%;
    height: 90%;
    margin-top: 50px;
    box-shadow: inset 0 0 4px 0 rgb(40, 30, 30);
    justify-content: center;
}

.add_new_task {
    display: flex;
    width: 90%;
    height: auto;
    background-color: #B0C4DE;
    padding: 1rem;
    align-self: flex-end;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 6px 0px rgb(51, 55, 81);
    justify-content: center;
}

#task_text {
    border: none;
    caret-color: rgba(16, 54, 182, 0.611);
    width: 100%;
    min-height: 20px;
    max-height: 100px;
    overflow: auto;
    margin-right: 60px;
    resize: none;
    align-self: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

#task_text::placeholder {
    color: #5c626b;
}

#task_text:focus {
    outline: none;
    border: none;
    border-bottom: 1.5px solid saddlebrown;
}

#add_task {
    border: none;
    background: transparent;
    box-shadow: 0 0 0.5px 0 rgba(47, 43, 69, 0.271);
}

#add_task:hover {
    box-shadow: 0 0 1px 0 rgb(90, 73, 85);
    background-color: #7f95b7;
    padding: 1px;
}

.addlist {
    align-self: flex-end;
    background-color: #5c626b;
    width: 80%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 0 0 5px 0 rgb(17, 13, 13);
    transition: transform 0.2s ease-out;
}

.addlist:is(:hover, :focus) {
    transform: scale(1.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 0 5px 2px rgba(99, 30, 95, 0.611);
}